extends ../layout

include ../partials/_read_more
include ../partials/_translation_attribution

block append head
  link(rel='stylesheet' href='/css/blocks-dashboard.css')
  link(rel='stylesheet' href='/css/vote-controls.css')
  link(rel='stylesheet' href='/css/reaction-counts.css')
  link(rel='stylesheet' href='/css/toast.css')
  link(rel='stylesheet' href='/css/modal.css')
  link(rel='stylesheet' href='/css/best-of.css')
  link(rel='stylesheet' href='/css/translation-attribution.css')
  link(rel='stylesheet' href='/css/table-scroll-fade.css')

block append scripts
  script(src='/js/toast-utils.js')
  script(src="/js/vote-controls.js")
  script(src='/js/modal.js')
  script(src="/js/best-of-tabs.js")
  script(src='/js/table-scroll-fade.js')
  script(src='/js/reaction-counts-hydrate.js' defer)

block nav
  include ../navLinks

block content
  h1= t('bestOf.heading')

  // Tab navigation
  .tabs
    ul.tab-links
      li(class={active: activeTab==='24h'} data-tab="tab-24h")= t('bestOf.tabs.24h')
      li(class={active: activeTab==='7d'}  data-tab="tab-7d")= t('bestOf.tabs.7d')
      li(class={active: activeTab==='30d'} data-tab="tab-30d")= t('bestOf.tabs.30d')
      li(class={active: activeTab==='all'} data-tab="tab-all")= t('bestOf.tabs.all')

  // Tab content
  .tab-content
    #tab-24h.tab-pane(class={active: activeTab==='24h'})
      +renderBlockList(top24h)
    #tab-7d.tab-pane(class={active: activeTab==='7d'})
      +renderBlockList(top7d)
    #tab-30d.tab-pane(class={active: activeTab==='30d'})
      +renderBlockList(top30d)
    #tab-all.tab-pane(class={active: activeTab==='all'})
      +renderBlockList(topAll)
  include ../partials/_login_modal
  #toast-container

mixin renderBlockList(blocks)
  if blocks.length
    ul.block-list
      each block in blocks
        li.block-preview(lang=(block.lang || 'en'))
          div.content
            a.block-title(href=`/rooms/${block.roomId}/blocks/${block._id}`)= block.title
            p(lang=(uiLang || 'en'))
              | #{t('bestOf.labels.createdBy')} 
              - const u = encodeURIComponent(block.creator || '')
              a.user-profile-link(href=uiPath(`/users/${u}`))= block.creator
              |  #{t('bestOf.labels.inRoom')} 
              if block.roomId
                a.room-link(href=uiPath(`/rooms/${block.roomId}`))= block.roomDisplayName || block.roomId
              else
                span.room-link= t('bestOf.labels.unknownRoom')
              - const _ui = (typeof uiLang === 'string' ? uiLang : 'en');
              - const _date = new Date(block.createdAt).toLocaleString(_ui, { dateStyle: 'medium', timeStyle: 'short' });
              |  #{t('bestOf.labels.onDate', { date: _date })}
            +translationAttribution(block)
            if block.contentHTML
              div(class=['content-preview', {'fade-footer': block.truncated}], lang=(block.lang || 'en'))!= block.contentHTML
          +readMoreIfTruncated(block, block.roomId)
          footer.block-footer
            include ../partials/_reaction_counts
            include ../partials/_vote_controls
  else
    p= t('bestOf.labels.noBlocks')
