extends ../layout

block nav
  include ../navLinks

block append head
  link(rel='stylesheet', href='/css/archive-index.css')
  link(rel='stylesheet', href='/css/archive-breadcrumbs.css')

block content
  if roomId
    .archive-room-meta
      p 
        = t('archive.roomViewing', { roomName })
        |  · 
        a(href=`/rooms/${roomId}`)= t('archive.viewRoomLink')
  .archive-index-container
    if roomId
      h1= t('archive.titleRoom', { roomName })
    else
      h1= t('archive.title')

    if yearMonthCombos.length
      ul.year-month-list
        each combo in yearMonthCombos
          - const monthPadded = String(combo.month).padStart(2, '0')
          a.year-month-link(
            href=roomId ? `/rooms/${roomId}/archive/${combo.year}/${monthPadded}` : `/archive/${combo.year}/${monthPadded}`
          )
            li.year-month-item
              | #{combo.year} - #{monthName(combo.month)}

    else
      p= t('archive.noContent')
  if roomId
    .back-to-room-link
      a(href=`/rooms/${roomId}`)= t('archive.backToRoom')
