extends ../layout

include ../partials/_read_more
include ../partials/_translation_attribution

block nav
  include ../navLinks

block append head
  link(rel='stylesheet' href='/css/blocks-dashboard.css')
  link(rel='stylesheet' href='/css/archive.css')
  link(rel='stylesheet' href='/css/pagination.css')
  link(rel='stylesheet' href='/css/vote-controls.css')
  link(rel='stylesheet' href='/css/modal.css')
  link(rel='stylesheet' href='/css/translation-attribution.css')
  link(rel='stylesheet' href='/css/table-scroll-fade.css')
  if prevDate
    link(rel="prev" href= roomId
      ? `/rooms/${roomId}/archive/${prevDate.split('-').join('/')}`
      : `/archive/${prevDate.split('-').join('/')}`
    )
  if nextDate
    link(rel="next" href= roomId
      ? `/rooms/${roomId}/archive/${nextDate.split('-').join('/')}`
      : `/archive/${nextDate.split('-').join('/')}`
    )

block append scripts
  script(src='/js/vote-controls.js')
  script(src='/js/modal.js')
  script(src='/js/table-scroll-fade.js')

block content
  .archive-container
    include ../partials/_archiveNav
    +archiveNav(
      prevDate
        ? (roomId 
            ? `/rooms/${roomId}/archive/${prevDate.split('-').join('/')}` 
            : `/archive/${prevDate.split('-').join('/')}`
          )
        : null,
      prevDate || '',
      nextDate
        ? (roomId 
            ? `/rooms/${roomId}/archive/${nextDate.split('-').join('/')}` 
            : `/archive/${nextDate.split('-').join('/')}`
          )
        : null,
      nextDate || '',
      'archive-nav'
    )
    h1 Archive for #{date}

    if blocks.length
      ul.block-list
        each block in blocks
          li.block-item
            div.block-main
              a.block-link(href=`/rooms/${block.roomId}/blocks/${block._id}`)= block.title
              .block-meta 
                | Created by: 
                a.user-profile-link(href=`/users/${block.creator}`)= block.creator
                |  in 
                a.room-link(href=`/rooms/${block.roomId}`)= block.roomId ? block.roomId : 'Unknown Room'
                |  on #{new Date(block.createdAt).toLocaleString(undefined, { dateStyle: 'medium', timeStyle: 'short' })}
              +translationAttribution(block)
              div(class=['content-preview', {'fade-footer': block.truncated}])!= block.contentHTML
            +readMoreIfTruncated(block, block.roomId)
            footer.block-footer 
              include ../partials/_vote_controls
    else
      p No content found for this date.
  include ../partials/_pagination
  +pagination(
    currentPage,
    totalPages,
    roomId
      ? `/rooms/${roomId}/archive/${date.split('-').join('/')}`
      : `/archive/${date.split('-').join('/')}`
  )

  include ../partials/_login_modal