extends ../layout

block nav
  include ../navLinks

block append head
  link(rel='stylesheet' href='/css/archive.css')
  link(rel='stylesheet' href='/css/pagination.css')
  link(rel='stylesheet' href='/css/vote-controls.css')
  link(rel='stylesheet' href='/css/modal.css')
  if prevDate
    link(rel="prev" href= roomId
      ? `/rooms/${roomId}/archive/${prevDate.split('-').join('/')}`
      : `/archive/${prevDate.split('-').join('/')}`
    )
  if nextDate
    link(rel="next" href= roomId
      ? `/rooms/${roomId}/archive/${nextDate.split('-').join('/')}`
      : `/archive/${nextDate.split('-').join('/')}`
    )

block append scripts
  script(src='/js/vote-controls.js')
  script(src='/js/modal.js')

block content
  .archive-container
    include ../partials/_archiveNav
    +archiveNav(
      prevDate
        ? (roomId 
            ? `/rooms/${roomId}/archive/${prevDate.split('-').join('/')}` 
            : `/archive/${prevDate.split('-').join('/')}`
          )
        : null,
      prevDate || '',
      nextDate
        ? (roomId 
            ? `/rooms/${roomId}/archive/${nextDate.split('-').join('/')}` 
            : `/archive/${nextDate.split('-').join('/')}`
          )
        : null,
      nextDate || '',
      'archive-nav'
    )
    h1 Archive for #{date}

    if blocks.length
      ul.block-list
        each block in blocks
          li.block-item
            include ../partials/_vote_controls
            div.block-main
              a.block-link(href=`/rooms/${block.roomId}/blocks/${block._id}`)= block.title
              .block-content!= block.contentHTML
              .block-meta 
                | Created by 
                a(href=`/users/${block.creator}`)= block.creator
                |  at #{new Date(block.createdAt).toLocaleTimeString()}
    else
      p No content found for this date.
  include ../partials/_pagination
  +pagination(
    currentPage,
    totalPages,
    roomId
      ? `/rooms/${roomId}/archive/${date.split('-').join('/')}`
      : `/archive/${date.split('-').join('/')}`
  )

  include ../partials/_login_modal