extends ../layout
block append head
  link(rel='stylesheet' href='/css/room-index.css')
  link(rel='stylesheet' href='/css/pagination.css')

block nav
  include ../navLinks

block content
  h1
    a.room-link(href=`/rooms/${roomId}`)= roomName
    |  #{t('archive.index.header.allBlocks')}
  .room-index-container
    form.sort-bar(method='get' action=`?sort=${sortKey}&dir=${dir}`)
      | #{t('archive.index.sort.label')} 
      select(name='sort')
        option(value='createdAt' selected=sortKey=='createdAt')= t('archive.index.sort.options.date')
        option(value='title' selected=sortKey=='title')= t('archive.index.sort.options.title')
        option(value='voteCount' selected=sortKey=='voteCount')= t('archive.index.sort.options.votes')
      |  
      select(name='dir')
        option(value='desc' selected=dir=='desc') ↓
        option(value='asc'  selected=dir=='asc') ↑
      button(type='submit')= t('archive.index.sort.submit')
    ul.block-toc
      each b in blocks
        li(lang=(b.lang || 'en'))
          a(href=`/rooms/${roomId}/blocks/${b._id}` lang=(b.lang || 'en'))= b.title
          span.meta(lang=(uiLang || 'en'))
            | (#{b.voteCount} ★ • #{b.createdAt.toLocaleDateString(uiLang || undefined)})
    include ../partials/_pagination
    +pagination(
      currentPage,
      totalPages,
      `/rooms/${roomId}/index?sort=${sortKey}&dir=${dir}`
    )
