mixin blockList(blocks, period, label, room_id)
  .tab-period(lang=(uiLang || 'en'))
    | #{label} 
    if period === 'all'
      |  · #{t('blockList.period.all')}
    else if period > 1
      | #{t('blockList.period.days', { n: period })}
    else
      | #{t('blockList.period.day')}

  ul
    each block in blocks
      li.block-preview(lang=(block.lang || 'en'))
        div.content
          a.block-title(
            href=`/rooms/${room_id}/blocks/${block._id}`
            lang=(block.lang || 'en')
          )= block.title

          p(lang=(uiLang || 'en'))
            | #{t('blockList.createdBy')} 
            a.user-profile-link(href=`/users/${block.creator}`)= block.creator
            |  #{t('blockList.on')} 
            = new Date(block.createdAt).toLocaleString(uiLang || undefined, { dateStyle: 'medium', timeStyle: 'short' })

          +translationAttribution(block)

          div(class=['content-preview', {'fade-footer': block.truncated}], lang=(block.lang || 'en'))!= block.contentHTML

          +readMoreIfTruncated(block, room_id)

          footer.block-footer
            include ../partials/_vote_controls
