section.home-discovery__panel.home-discovery__panel--tags(
  id='home-panel-tags'
  role='tabpanel'
  aria-labelledby='home-tab-tags'
  data-home-panel='tags'
)
  h2
    = t('home.trendingTags.title')
    if tagsPeriod && tagsPeriod.type === 'days' && tagsPeriod.value > 1
      |  #{t('home.trendingTags.suffixDays', { days: tagsPeriod.value })}
    else if tagsPeriod && tagsPeriod.type === 'all'
      |  #{t('home.trendingTags.suffixAllTime')}
  if trendingTags && trendingTags.length
    .trending-tags-widget
      ul.trending-tags
        each tagObj in trendingTags
          li.tag-chip
            i.tag-icon.fas.fa-tag(aria-hidden='true')
            a(href=uiPath(`/tags/${encodeURIComponent(tagObj._id)}`))= tagObj._id
            span.tag-badge (#{t('home.trendingTags.blocks', {n: tagObj.totalBlocks})}, #{t('home.trendingTags.votes', {n: tagObj.totalVotes})})
  else
    p= t('home.trendingTags.empty')
