mixin pagination(currentPage, totalPages, urlPrefix, labels)
  - const prevLabel = (labels && labels.prev) || 'â† Previous'
  - const nextLabel = (labels && labels.next) || 'Next â†’'

  if totalPages > 1
    - const sep = urlPrefix.includes('?') ? '&' : '?'
    .pagination
      if currentPage > 1
        a.page-link(href=`${urlPrefix}${sep}page=${currentPage-1}`)= prevLabel
      else
        span.page-link.disabled= prevLabel

      each n in [...Array(totalPages)].map((_,i)=>i+1)
        if n === currentPage
          span.page-link.active= n
        else
          a.page-link(href=`${urlPrefix}${sep}page=${n}`)= n

      if currentPage < totalPages
        a.page-link(href=`${urlPrefix}${sep}page=${currentPage+1}`)= nextLabel
      else
        span.page-link.disabled= nextLabel
