//- views/partials/_pagination.pug
//- usage: +pagination(currentPage, totalPages, urlPrefix)
mixin pagination(currentPage, totalPages, urlPrefix)
  if totalPages > 1
    - const sep = urlPrefix.includes('?') ? '&' : '?'
    .pagination
      if currentPage > 1
        a.page-link(
          href=`${urlPrefix}${sep}page=${currentPage-1}`
        ) ← Previous
      else
        span.page-link.disabled ← Previous

      each n in [...Array(totalPages)].map((_,i)=>i+1)
        if n === currentPage
          span.page-link.active= n
        else
          a.page-link(
            href=`${urlPrefix}${sep}page=${n}`
          )= n

      if currentPage < totalPages
        a.page-link(
          href=`${urlPrefix}${sep}page=${currentPage+1}`
        ) Next →
      else
        span.page-link.disabled Next →
