extends ../layout

include ../partials/_translation_attribution
include ../partials/_block_list
include ../partials/_read_more

block nav
  include ../navLinks

block append scripts
  script#i18n-roomDashboard(type='application/json').
    !{JSON.stringify(__i18n.roomDashboard || {})}
  script(src="/js/vote-controls.js")
  script(src='/js/modal.js')
  script(src="/js/block-tabs.js")
  script(src="/js/star-room.js")
  script(src='/js/adjust-date-margin.js')
  script(src='/js/table-scroll-fade.js')

block append head
  link(rel='stylesheet' href='/css/blocks-dashboard.css')
  link(rel="stylesheet" href="/css/blocks-tabs.css")
  link(rel="stylesheet" href="/css/vote-controls.css")
  link(rel="stylesheet" href="/css/modal.css")
  link(rel="stylesheet" href="/css/star-room.css")
  link(rel='stylesheet' href='/css/translation-attribution.css')
  link(rel='stylesheet' href='/css/table-scroll-fade.css')

prepend content
  .room-header
    .room-header-row
      .title-line
        button.star-btn(
          data-room-id=room_id
          data-logged-in=user ? "true" : "false"
          class=isStarred ? "starred" : ""
          title=isStarred ? t('roomDashboard.actions.unstarTitle') : t('roomDashboard.actions.starTitle')
          aria-label=isStarred ? t('roomDashboard.actions.unstarTitle') : t('roomDashboard.actions.starTitle')
        )
          if isStarred
            // For Font Awesome 4, star is .fa .fa-star when starred
            i.fa.fa-star
          else
            // Outline star is .fa .fa-star-o
            i.fa.fa-star-o

        h1.room-name= roomMetadata.displayName || roomMetadata.name

      // Smaller date text below
      if date
        p.room-date= date

  if roomMetadata && (roomMetadata.displayDescription || roomMetadata.description)
    p#room-description= roomMetadata.displayDescription || roomMetadata.description
  else
    p#room-description= t('roomDashboard.empty.noDescription')
  p.room-archive-link
    a(href=`/rooms/${room_id}/index`)= t('roomDashboard.links.allBlocks')
  p.room-archive-link
    a(href=`/rooms/${room_id}/archive`)= t('roomDashboard.links.browseByDate')
  p.room-archive-link
    a(href=`/rooms/${room_id}/archive/best-of`)= t('roomDashboard.links.bestOf')

append content
  include ../partials/_login_modal
  
  p
    a.btn(href=`/rooms/${room_id}/blocks/new`)= t('roomDashboard.actions.createBlock')

  //- Tab links
  if useTabs
    .tabs
      ul.tab-links
        li(class="active")
          a(href="#locked-tab")= t('roomDashboard.tabs.locked')
        li
          a(href="#inprogress-tab")= t('roomDashboard.tabs.inProgress')

      //- Tab content for Locked Blocks
      .tab-content
        #locked-tab(class="active")
          if lockedBlocks.length
            +blockList(lockedBlocks, lockedPeriod, t('roomDashboard.sections.lockedHeader'), room_id)
          else
            p= t('roomDashboard.empty.noLocked')

        //- Tab content for In-Progress Blocks
        #inprogress-tab
          if inProgressBlocks.length
            +blockList(inProgressBlocks, inProgressPeriod, t('roomDashboard.sections.inProgressHeader'), room_id)
          else
            p= t('roomDashboard.empty.noInProgress')
  else
    if showLockedTab
      // Título/periodo sin UI de tabs
      .tab-content
        #locked-tab.active
          +blockList(lockedBlocks, lockedPeriod, t('roomDashboard.sections.lockedHeader'), room_id)

    else if showInProgressTab
      .tab-content
        #inprogress-tab.active
          +blockList(inProgressBlocks, inProgressPeriod, t('roomDashboard.sections.inProgressHeader'), room_id)

    else
      p= t('roomDashboard.empty.noBlocks')
