extends ../layout

block nav
  include ../navLinks

block append head
  link(rel='stylesheet' href='/css/block-view.css')
  link(rel='stylesheet' href='/css/block-tags.css')
  link(rel='stylesheet' href='/css/delete-block.css')
  link(rel='stylesheet' href='/css/vote-controls.css')
  link(rel='stylesheet' href='/css/toast.css')
  link(rel='stylesheet' href='/css/modal.css')
  link(rel='stylesheet' href='/css/flag-modal.css')

block append scripts
  include ../envImport
  // Vote controls script if you have voting on the viewer
  script(src='/js/toast-utils.js')
  script(src='/js/action-wrap-detect.js')
  script(src='/js/vote-controls.js')
  script(src='/js/modal.js')
  script(src='/js/flag-block.js')
  script(src="/js/view-block-description.js")
  script(src="/js/share-block.js")

block content
  include ../partials/_tag_section
  #block-page
    .block-header
      // Link back to the room
      .room-info
        | Room: 
        a.room-link(href=`/rooms/${room_id}`)= roomName
      .title-section
        .vote-section
          include ../partials/_vote_controls
        h1.block-title= block.title
        // Only show edit link if the block is in-progress
        .interact-section
          .action-buttons
            if block.status === 'in-progress'
              a.block-edit-btn(href=`/rooms/${room_id}/blocks/${block._id}/edit`) Edit
            if canManageBlock
              button#delete-block-btn.delete-btn(data-tooltip="Delete Block") Delete Block
            button#share-btn.share-btn Share ✨
            button#flag-block-btn
              i.fa.fa-flag(aria-hidden="true")
              | Flag Content

    // Description block, read-only style
    .block-description-card
      span.description-label Description
      .description-body.collapsed
        div#description-view!= descriptionHTML || '<em>No description provided...</em>'
      .expand-toggle
        span Expand

    // The main content, already rendered to HTML on the server
    .block-content
      != block.contentHTML
    hr
    +tagSection(block.tags, false)

  // Reuse your login modal partial if needed
  include ../partials/_login_modal
  include ../partials/_block_delete_confirm
  include ../partials/_flag_modal
  #toast-container
  div#share-modal.share-modal.hidden
    div.share-modal-content
      span.share-close-btn &times;
      h2 Share this Block
      p Share on:
      ul.share-links
        li
          a(href="#", id="share-facebook", target="_blank")
            img.share-icon(src="https://cdn.simpleicons.org/facebook/1877F2" alt="Facebook logo")
            | Facebook
        li
          a(href="#", id="share-reddit", target="_blank")
            img.share-icon(src="https://cdn.simpleicons.org/reddit/FF4500" alt="Reddit logo")
            | Reddit
        li
          a(href="#", id="share-whatsapp", target="_blank")
            img.share-icon(src="https://cdn.simpleicons.org/whatsapp/25D366" alt="WhatsApp logo")
            | WhatsApp
        li
          a(href="#", id="share-twitter", target="_blank")
            img.share-icon(src="https://cdn.simpleicons.org/x/000000" alt="Twitter logo")
            | Twitter