extends ../layout

block nav
  include ../navLinks

block append head
  link(rel='stylesheet' href='/css/editor.css')
  link(rel="stylesheet", href="/css/block-tags.css")
  link(rel='stylesheet' href='/css/toast.css')
  link(rel='stylesheet' href='/css/modal.css')
  link(rel='stylesheet' href='/css/delete-block.css')
  // i18n namespace para el editor en el cliente
  script#i18n-blockEditor(type='application/json').
    !{JSON.stringify(__i18n.blockEditor || {})}

block content
  include ../partials/_tag_section
  #block-page.hide
    .text-wrapper
      .editor
        #block-meta
          p.room-info
            | #{t('blockEditor.roomInfo.label')} 
            a.room-link(href=`/rooms/${room_id}`)= roomName
          h2#block-title-container
            span#block-title= block.title
            if canManageBlock
              input#block-title-input.fade-out(
                type='text',
                value=block.title,
                placeholder=t('blockEditor.title.placeholder')
              )
              button#edit-title-btn(data-tooltip=t('blockEditor.title.editTooltip'))
                i(data-feather="edit")
              .block-action-buttons
                if block.status === 'in-progress'
                  button#lock-block-btn= t('blockEditor.title.lock')
                button#delete-block-btn.delete-btn(
                  data-block-id=block._id
                )= t('blockEditor.title.delete')

          .block-description-card
            // Subtle label for clarity
            span.description-label= t('blockEditor.description.label')
            // Edit button with tooltip; always accessible even if collapsed
            if canManageBlock
              button#edit-description-btn.icon-button.description-edit-button(
                data-tooltip=t('blockEditor.description.editTooltip')
              )
                i(data-feather="edit")
            
            // The description content with fade-out effect if collapsed
            .description-body.collapsed
              if canManageBlock
                // Read view: if empty, display a fallback text
                div#description-view!= descriptionHTML || `<p><em>${t('blockEditor.description.noDescriptionOwner')}</em></p>`
                // Editing textarea (initially hidden) with placeholder for empty descriptions
                textarea#description-edit.hidden(
                  placeholder=t('blockEditor.description.placeholder')
                )= block.description
                // Save/Cancel buttons for editing mode
                .edit-buttons.hidden
                  button#save-description-btn= t('blockEditor.description.save')
                  button#cancel-description-btn= t('blockEditor.description.cancel')
              else
                div#description-view!= descriptionHTML || `<p><em>${t('blockEditor.description.noDescriptionViewer')}</em></p>`
            
            // Expand/Collapse toggle at the bottom
            .expand-toggle
              span= t('blockEditor.description.expand')

          +tagSection(block.tags, canManageBlock)
        .header
          p.sharing-link
            a.link#myLink(target="_blank")= t('blockEditor.sharing.label')
            span#myLinkInput.hidden
            span.copy-container(data-tooltip=t('blockEditor.sharing.copyTooltip'))
              i(data-feather="copy" class="copy-link" color="rgb(17, 117, 232)")
            span.copy-status= t('blockEditor.sharing.copied')
          #sync-infobox
        .toolbar.sticky
          button#open-insert-img-btn(data-tooltip=t('blockEditor.toolbar.insertImage'))
            i(data-feather="image")
          div#insert-img-tooltip.hidden
            form
              input#img-url(
                type="text"
                placeholder=t('blockEditor.toolbar.insertImageUrlPlaceholder')
              )
              input#img-alt(
                type="text"
                placeholder=t('blockEditor.toolbar.insertImageAltPlaceholder')
              )
              div
                button#insert-img-confirm(type="button")= t('blockEditor.toolbar.insertImageConfirm')
                button#insert-img-cancel(type="button")= t('blockEditor.toolbar.insertImageCancel')
        textarea#editor-content= block.content
      p#peerId= t('blockEditor.peers.label')
    .video-modal.hide
      .video-bar
        i(data-feather="minus" class="minimize")
        i(data-feather='x' class="exit")
      video

  include ../loading
  include ../inactiveWarning
  include ../partials/_block_delete_confirm

  #lock-modal.modal.hidden
    .modal-content
      p.modal-message
        | #{t('blockEditor.lockModal.messageLine1')} 
        br
        | #{t('blockEditor.lockModal.messageLine2')}
      .modal-buttons
        button#lock-confirm-btn= t('blockEditor.lockModal.confirm')
        button#lock-cancel-btn= t('blockEditor.lockModal.cancel')

  #toast-container
  script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
  script.
    feather.replace({ 'stroke-width': 3 });

block scripts
  include ../envImport
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js")
  script(src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js")
  script(src='/js/toast-utils.js')
  script(src='/js/bundle.js')
  script(src='/js/clearSelection.js')
  script(src='/js/editor.js')
  script(src='/js/modal.js')
  script(src='/js/edit-block-description.js')
  script(src='/js/lock-block.js')
  script(src='/js/set-share-link.js')
  if canManageBlock
    script(src="/js/edit-tags.js")
