extends ../layout

block nav
  include ../navLinks

block append scripts
  script(src="/js/vote-controls.js")

block append head
  link(rel='stylesheet' href='/css/blocks-dashboard.css')
  link(rel="stylesheet" href="/css/vote-controls.css")

prepend content
  h1= header
append content
  #viewer
    p
      a.btn(href=`/rooms/${room_id}/blocks/new`) Create a Block
    if blocks.length
      ul
        each block in blocks
          li.block-preview
            include ../partials/_vote_controls
            div.content
              a.block-title(href=`/rooms/${room_id}/blocks/${block._id}`)= block.title
              p Created by: #{block.creator} on #{new Date(block.createdAt).toLocaleString(undefined, { dateStyle: 'medium', timeStyle: 'short' })}
              p= block.content ? block.content.substring(0, 100) + '...' : '(No content yet)'
    else
      p No blocks yet! Why not create the first one?
