extends layout

block nav
  include navLinks

block content
  .not-found
    h1= t('errors.notFound.title')
    p= t('errors.notFound.message')
    p
      | #{t('errors.notFound.homePrefix')} 
      a(href=uiPath('/'))= t('errors.notFound.homeLink')
      | , #{t('errors.notFound.roomsPrefix')} 
      a(href=uiPath('/rooms'))= t('errors.notFound.roomsLink')
