extends layout

block nav
  include navLinks

block append head
  link(rel="alternate" hreflang="en" href="https://dailypage.org/")
  link(rel="alternate" hreflang="es" href="https://dailypage.org/?lang=es")
  link(rel="alternate" hreflang="ru" href="https://dailypage.org/?lang=ru")
  link(rel="alternate" hreflang="x-default" href="https://dailypage.org/")

block content
  .info
    h1= translations.headline
    p= translations.paragraph1
    h2= translations.essence
    p= translations.paragraph2
    h2= translations.role
    p= translations.paragraph3
    h2= translations.testament
    p(style="color: #777;")= translations.paragraph4
    .call-to-action
      p
        a.btn.btn-margin(href='/editor')= translations.cta_join
      p
        a.btn(href='/archive')= translations.cta_archive

    .info-subtitle
      p(style="color: #777;")= translations.paragraph5
