extends layoutMin
block content
  link(rel='stylesheet' href='/css/googleDocs.css')
  script.
    var nextTrackIndex = !{JSON.stringify(nextTrackIndex)};
    var trackList = !{JSON.stringify(trackList)};
    var host = "#{host}";
    var title = "#{title}";
    var artist = "#{artist}";
    var albumArtist = "#{albumArtist}";
    var albumID = "#{albumID}";
    var albumName = "#{albumName}";
    var trackID = "#{trackID}";
    var trackPos = "#{trackPos}";

    function goToNextTrack() {
      document.getElementById('audio-player').src = `${host}/audio/${trackList[nextTrackIndex][0]}/${albumName}`;
      trackPos = nextTrackIndex;
      nextTrackIndex = trackPos + 1;
      if (trackPos === trackList.length - 1) {
        nextTrackIndex = 0;
      }
      document.getElementById('artistName').innerText = trackList[trackPos].length > 3 ? trackList[trackPos][3] : albumArtist;
      trackList.forEach((track, trackIndex) => {
        document.getElementById(`posMarker${trackIndex}`).innerText = trackIndex === trackPos ? ' *' : '';
      });
    }
  a(href='/music') ←
  br
  p Album: #{albumName}
  p Artist: 
    span#artistName #{artist}
  audio#audio-player(controls
    autoplay=true
    type='audio/mpeg'
    onended="goToNextTrack();"
    src=host + '/audio/' + trackID + '/' + albumName)
    | Your browser does not support the
    code  audio
    | element.
  p Tracks
  ol
    for track, trackIndex in trackList
      li
        a(href=track[0]) #{track[1]}
        span(id="posMarker" + trackIndex) #{(trackIndex === trackPos ? ' *' : '')}
