extends layoutMin
block content
  link(rel='stylesheet' href='/css/googleDocs.css')
  script.
    var nextTrackIndex = !{JSON.stringify(nextTrackIndex)};
    var trackList = !{JSON.stringify(trackList)};
    var host = "#{host}";
    var title = "#{title}";
    var artist = "#{artist}";
    var albumID = "#{albumID}";
    var albumName = "#{albumName}";
    var trackID = "#{trackID}";
    var trackPos = "#{trackPos}";

    function goToNextTrack() {
      document.getElementById('audio-player').src = `http://${host}/audio/${trackList[nextTrackIndex][0]}/${albumID}.wav`;
      trackPos = nextTrackIndex;
      nextTrackIndex = trackPos + 1;
      if (trackPos === trackList.length - 1) {
        nextTrackIndex = 0;
      }
    }
  a(href='/music') ←
  br
  p Album: #{albumName}
  p Artist: #{artist}
  audio#audio-player(controls
    autoplay=true
    type='audio/x-wav'
    onended="goToNextTrack();"
    src='http://' + host + '/audio/' + trackID + '/' + albumID + '.wav')
    | Your browser does not support the
    code  audio
    | element.
  p Tracks
  ol
    for track, trackIndex in trackList
      li
        a(href=track[0]) #{track[1]}
        span #{(trackIndex === trackPos ? ' *' : '')}
