extends layoutMin
block content
  script.
    function goToNextTrack(trackID) {
      window.location.href = `./${trackID}`;
    }
  a(href='/music') ←
  br
  p Album: #{albumName}
  audio(controls
    autoplay=true
    onended="goToNextTrack('" + trackList[nextTrackIndex][0] + "')"
    src='http://' + host + '/audio/' + trackID + '/' + albumID)
    | Your browser does not support the
    code  audio
    | element.
  p Tracks
  ol
    for track, trackIndex in trackList
      li
        a(href=track[0]) #{track[1]}
        span #{(trackIndex === trackPos ? ' *' : '')}
