extends layoutMin
block content
  script(src='/js/jquery-1.7.1.min.js')
  script(src='/js/analyzeBPM.js')
  link(rel='stylesheet' href='/css/googleDocs.css')
  script.
    var nextTrackIndex = !{JSON.stringify(nextTrackIndex)};
    var trackList = !{JSON.stringify(trackList)};
    var host = "#{host}";
    var title = "#{title}";
    var artist = "#{artist}";
    var albumArtist = "#{albumArtist}";
    var albumID = "#{albumID}";
    var albumName = "#{albumName}";
    var trackID = "#{trackID}";
    var trackPos = "#{trackPos}";

    function goToNextTrack() {
      document.getElementById('audio-player').src = `${host}/audio/${trackList.tracks[nextTrackIndex].id}/${albumName}`;
      trackPos = nextTrackIndex;
      nextTrackIndex = trackPos + 1;
      if (trackPos === trackList.length - 1) {
        nextTrackIndex = 0;
      }
      document.getElementById('artistName').innerText = trackList.tracks[trackPos].artist || albumArtist;
      trackList.tracks.forEach((track, trackIndex) => {
        document.getElementById(`posMarker${trackIndex}`).innerText = trackIndex === trackPos ? ' *' : '';
      });
      document.getElementById('audio-player').play();
    }
  a(href='/music') ←
  br
  p Album: #{albumName}
  p Artist: 
    span#artistName #{artist}
  #player-container
    audio#audio-player(controls
      autoplay=true
      type='audio/mpeg'
      crossorigin='anonymous'
      onended="goToNextTrack();"
      src=host + '/audio/' + trackID + '/' + albumName)
      | Your browser does not support the
      code  audio
      | element.
    script.
      document.getElementById('audio-player').play();
    div#beat-marker
  p Tracks
  ol
    for track, trackIndex in trackList.tracks
      li
        a(href=track.name) #{track.name}
        span(id="posMarker" + trackIndex) #{(trackIndex === trackPos ? ' *' : '')}
