script.
  backendURL = "#{backendURL}"
  room_id = "#{room_id}"
  userId = "#{user ? user.id : null}"
  block_id = "#{block_id}"
  initialTargetPeerId = "#{initialTargetPeerId}"
  canManageBlock = #{canManageBlock}
