extends layout

block nav
  include navLinks

block append head
  link(rel='stylesheet', href='/css/error.css')

block content
  .error-container
    h1 😵‍💫 #{t('errors.generic.title')}
    if message
      p.error-message= message
    else
      p.error-message= t('errors.generic.message')
    a.btn(href=uiPath("/")) 🏠 #{t('errors.generic.home')}
