extends layout

block nav
  include navLinks

block content
  #viewer
    h1
      = t('blockEditor.fullBlock.headingPrefix', { blockTitle: block_title }) + ' '
      span(style="color: #e53449")= t('blockEditor.fullBlock.headingStatus')
    h2
      | #{t('blockEditor.fullBlock.retryPrefix')} 
      a(href=uiPath(`/rooms/${room_id}`))= t('blockEditor.fullBlock.retryLink')
      |  #{t('blockEditor.fullBlock.retrySuffix')}

    include consolation
