extends layout

include partials/_read_more
include partials/_translation_attribution
include partials/_banner_image

block nav
  include navLinks

block append scripts
  script(src='/js/toast-utils.js')
  script(src='/js/vote-controls.js')
  script(src='/js/reaction-counts-hydrate.js')
  script(src='/js/modal.js')
  script(src='/js/table-scroll-fade.js')
  script(src='/js/sortable-tables.js')
  script(src='/js/banner-images.js')
  script(src='/js/home-discovery.js' defer)

block append head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  link(rel='stylesheet' href='/css/block-common.css')
  link(rel='stylesheet' href='/css/blocks-dashboard.css')
  link(rel='stylesheet' href='/css/vote-controls.css')
  link(rel='stylesheet' href='/css/reaction-counts.css')
  link(rel='stylesheet' href='/css/toast.css')
  link(rel='stylesheet' href='/css/modal.css')
  link(rel='stylesheet' href='/css/quest-progress.css')
  link(rel='stylesheet' href='/css/home.css')
  link(rel='stylesheet' href='/css/translation-attribution.css')
  link(rel='stylesheet' href='/css/table-scroll-fade.css')
  link(rel='stylesheet' href='/css/sortable-tables.css')
  link(rel='stylesheet' href='/css/banner-images.css')

block content
  header.homepage-header
    .homepage-header__copy
      p.homepage-header__eyebrow= t('home.hero.eyebrow')
      h1= t('home.hero.title')
      p.subtitle
        = t('home.hero.subtitle') + ' '
        = t('home.hero.ctaPrefix') + ' '
        a.join-room(href=uiPath('/rooms'))= t('home.hero.cta')
        |  #{t('home.hero.ctaSuffix')}
    .global-stats
      a.stat-item(href=uiPath('/archive'))
        i.fas.fa-layer-group(aria-hidden='true')
        span.stat-number= globalStats.totalBlocks
        span.stat-label= t('home.stats.blocks')
      a.stat-item(href=uiPath('/rooms'))
        i.fas.fa-door-open(aria-hidden='true')
        span.stat-number= globalStats.totalRooms
        span.stat-label= t('home.stats.rooms')
      a.stat-item(href=uiPath('/tags'))
        i.fas.fa-hashtag(aria-hidden='true')
        span.stat-number= globalStats.totalTags
        span.stat-label= t('home.stats.tags')
      .stat-item
        i.fas.fa-users(aria-hidden='true')
        span.stat-number= globalStats.collaborationsToday
        span.stat-label= t('home.stats.collabsToday')

  if supportFunding
    aside.home-support-widget
      .home-support-widget__copy
        p.home-support-widget__eyebrow= t('home.supportWidget.eyebrow')
        h2= t('home.supportWidget.title')
        p= t('home.supportWidget.text')
      a.home-support-widget__link(href=uiPath('/support'))= t('home.supportWidget.cta')

  if featuredRoom
    .featured-section
      .featured-card
        .featured-ribbon= t('home.featured.roomRibbon')
        h2.card-title= featuredRoom.displayName || featuredRoom.name
        p.card-info= featuredRoomPeriod > 1 ? t('home.featured.roomInfoDays', { days: featuredRoomPeriod, blocks: featuredRoomData.blockCount, votes: featuredRoomData.totalRoomVotes }) : t('home.featured.roomInfo24h', { blocks: featuredRoomData.blockCount, votes: featuredRoomData.totalRoomVotes })
        a.btn(href=uiPath(`/rooms/${featuredRoom._id}`))= t('home.featured.checkItOut')

  if featuredBlock
    .featured-section
      .featured-card
        +blockBanner(featuredBlock, 'featured', featuredBlock.roomId)
        .featured-ribbon= t('home.featured.blockRibbon')
        h2.card-title= featuredBlock.title
        p.card-info= t('home.featured.votes', {n: featuredBlock.voteCount})
        if featuredBlock.contentHTML
          .featured-content-preview!= featuredBlock.contentHTML
        a.btn(href=`/rooms/${featuredBlock.roomId}/blocks/${featuredBlock._id}`)= t('home.featured.viewBlock')

  main.home-discovery(data-home-discovery)
    .home-discovery__tabs(role='tablist' aria-label=t('home.hero.subtitle'))
      button#home-tab-posts.home-discovery__tab.is-active(type='button' role='tab' aria-selected='true' aria-controls='home-panel-posts' tabindex='0' data-home-tab='posts' title=t('home.trendingBlocks.title'))
        i.fas.fa-stream(aria-hidden='true')
        span= t('home.stats.blocks')
      button#home-tab-tags.home-discovery__tab(type='button' role='tab' aria-selected='false' aria-controls='home-panel-tags' tabindex='-1' data-home-tab='tags' title=t('home.trendingTags.title'))
        i.fas.fa-hashtag(aria-hidden='true')
        span= t('home.stats.tags')
      button#home-tab-quests.home-discovery__tab(type='button' role='tab' aria-selected='false' aria-controls='home-panel-quests' tabindex='-1' data-home-tab='quests' title=t('home.quests.title'))
        i.fas.fa-compass(aria-hidden='true')
        span= t('nav.quests')
    .home-discovery__grid
      include partials/_home_trending_posts
      aside.home-discovery__sidebar
        include partials/_home_trending_tags
        include partials/_home_quests

  include partials/_home_activity
  include partials/_login_modal
  #toast-container
