extends layout

include partials/_read_more
include partials/_translation_attribution

block nav
  include navLinks

block append scripts
  script(src='/js/toast-utils.js')
  script(src="/js/vote-controls.js")
  script(src="/js/modal.js")
  script(src='/js/table-scroll-fade.js')

block append head
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  link(rel='stylesheet' href='/css/blocks-dashboard.css')
  link(rel='stylesheet' href='/css/vote-controls.css')
  link(rel='stylesheet' href='/css/toast.css')
  link(rel='stylesheet' href='/css/modal.css')
  link(rel='stylesheet' href='/css/home.css')
  link(rel='stylesheet' href='/css/translation-attribution.css')
  link(rel='stylesheet' href='/css/table-scroll-fade.css')

block content

  // Encabezado principal de la página
  .homepage-header
    h1= t('home.hero.title')
    p.subtitle
      = t('home.hero.subtitle') + ' '
      | 
      = t('home.hero.ctaPrefix') + ' '
      a(href="/rooms").join-room= t('home.hero.cta')
      |  #{' '}
      = t('home.hero.ctaSuffix')

  .global-stats
    a.stat-item(href='/archive')
      i.fas.fa-layer-group
      span.stat-number= globalStats.totalBlocks
      span.stat-label= t('home.stats.blocks')
    a.stat-item(href='/rooms')
      i.fas.fa-door-open
      span.stat-number= globalStats.totalRooms
      span.stat-label= t('home.stats.rooms')
    a.stat-item(href='/tags')
      i.fas.fa-hashtag
      span.stat-number= globalStats.totalTags
      span.stat-label= t('home.stats.tags')
    .stat-item
      i.fas.fa-users
      span.stat-number= globalStats.collaborationsToday
      span.stat-label= t('home.stats.collabsToday')


  if featuredRoom
    .featured-section
      .featured-card
        .featured-ribbon= t('home.featured.roomRibbon')
        h2.card-title= (featuredRoom.displayName || featuredRoom.name)
        if featuredRoomPeriod > 1
          p.card-info
            -
              var roomInfo = t('home.featured.roomInfoDays', {
                days: featuredRoomPeriod,
                blocks: featuredRoomData.blockCount,
                votes: featuredRoomData.totalRoomVotes
              })
            = roomInfo
        else
          p.card-info
            -
              var roomInfo = t('home.featured.roomInfo24h', {
                blocks: featuredRoomData.blockCount,
                votes: featuredRoomData.totalRoomVotes
              })
            = roomInfo
        a.btn(href=`/rooms/${featuredRoom._id}`)= t('home.featured.checkItOut')

  if featuredBlock
    .featured-section
      .featured-card
        .featured-ribbon= t('home.featured.blockRibbon')
        // Título del block
        h2.card-title= featuredBlock.title
        // Votos
        p.card-info= t('home.featured.votes', {n: featuredBlock.voteCount})

        // Preview del contenido (ya convertido a HTML)
        if featuredBlock.contentHTML
          div.featured-content-preview!= featuredBlock.contentHTML
        else
          p.card-info= t('home.featured.noContent')

        // Botón para ver más
        a.btn(href=`/rooms/${featuredBlock.roomId}/blocks/${featuredBlock._id}`)= t('home.featured.viewBlock')

  
  //- Sección de Trending Tags
  .trending-section
    h2
      = t('home.trendingTags.title')
      if tagsPeriod && tagsPeriod.type === 'days' && tagsPeriod.value > 1
        |  #{t('home.trendingTags.suffixDays', { days: tagsPeriod.value })}
      else if tagsPeriod && tagsPeriod.type === 'all'
        |  #{t('home.trendingTags.suffixAllTime')}
    if trendingTags && trendingTags.length
      .trending-tags-widget
        ul.trending-tags
          each tagObj in trendingTags
            li.tag-chip
              i.tag-icon.fas.fa-tag
              a(href=`/tags/${encodeURIComponent(tagObj._id)}`)= tagObj._id
              span.tag-badge (#{t('home.trendingTags.blocks', {n: tagObj.totalBlocks})}, #{t('home.trendingTags.votes', {n: tagObj.totalVotes})})
    else
      p= t('home.trendingTags.empty')

  // Divider opcional
  .divider

  // Sección de Trending Blocks
  .trending-section
    h2
      = t('home.trendingBlocks.title')
      if blocksPeriod > 1
        |  #{t('home.trendingBlocks.suffixDays', {days: blocksPeriod})}
    if topBlocks.length
      ul.block-list
        each block in topBlocks
          li.block-preview(lang=(block.lang || 'en'))
            div.content
              a.block-title(href=`/rooms/${block.roomId}/blocks/${block._id}` lang=(block.lang || 'en'))= block.title
              p(lang=(uiLang || 'en'))
                | #{t('home.trendingBlocks.createdBy')} 
                a.user-profile-link(href=`/users/${block.creator}`)= block.creator
                |  #{t('home.trendingBlocks.in')} 
                a.room-link(href=`/rooms/${block.roomId}`)= block.roomDisplayName || block.roomId || t('home.trendingBlocks.unknownRoom')
                |  #{t('home.trendingBlocks.on')} #{new Date(block.createdAt).toLocaleString(uiLang || undefined, { dateStyle: 'medium', timeStyle: 'short' })}
              +translationAttribution(block)
              div(class=['content-preview', {'fade-footer': block.truncated}], lang=(block.lang || 'en'))!= block.contentHTML
            +readMoreIfTruncated(block, block.roomId)
            footer.block-footer
              include partials/_vote_controls
    else
      p= t('home.trendingBlocks.empty24h')

  include partials/_login_modal
  #toast-container
