doctype html
html(lang="en")
  head
    block head
      title= title
      if description
        meta(name="description" content=description)
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css")
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' href='/assets/img/favicon.ico')
  body
    -
      var monthNames = ['January', 'February', 'March', 'April', 'May', 'June',
                        'July', 'August', 'September', 'October', 'November', 'December']
    .navbar
      a(href='/')
        h1.logo Daily Page
      header
        a(href="#main-menu"
          id="main-menu-toggle"
          class="menu-toggle"
          aria-label="Open main menu")
          span(class="sr-only") Open main menu
          span(class="fa fa-bars" aria-hidden="true")
        nav(class="nav-items" id="main-menu" class="main-menu")
          block nav
        a(href="#main-menu-toggle"
          class="backdrop"
          tabindex="-1"
          aria-hidden="true" hidden)
    block content
    block scripts
