doctype html
html(lang=lang || 'en')
  head
    block head
      title= title
      if description
        meta(name="description" content=description)
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css")
      link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/monokai.min.css")
      link(rel='stylesheet' href='/css/style.css')
      link(rel='stylesheet' href='/css/footer.css')
      link(rel="stylesheet" href="/css/auth.css")
      link(rel="stylesheet" href="/css/copy-btn.css")
      script(src="/js/auth.js")
      if title === 'Room Directory'
        link(rel='stylesheet' href='/css/rooms.css')
      link(rel='shortcut icon' href='/assets/img/favicon.ico')
      include schema.pug
      script(defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js")
      script(defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js")
  body(data-is-logged-in=user ? "true" : "false" data-user-id=user ? user.id : null)
    div.auth-wrapper
      p#welcome-message= t('layout.welcomeUser')
      button#nav-logout(type="button" style="display:none;")= t('layout.logout')
      a#nav-login(href="/login" style="display:none;")= t('layout.login')
    .navbar
      a(href='/')
        h1.logo= t('layout.siteName')
      header
        a(href="#main-menu"
          id="main-menu-toggle"
          class="menu-toggle"
          aria-label=t('layout.openMenu'))
          span(class="sr-only")= t('layout.openMenu')
          span(class="fa fa-bars" aria-hidden="true")
        nav#main-menu.nav-items.main-menu
          block nav
        a(href="#main-menu-toggle"
          class="backdrop"
          tabindex="-1"
          aria-hidden="true" hidden)
    block content

    footer.footer(role="contentinfo")
      .footer-content
        p #{t('layout.copyright', {year: new Date().getFullYear()})} #{t('layout.siteName')}
        a(href="/privacy")= t('layout.privacy')

    include partials/_common_scripts
    block scripts
