extends layoutMin
block content
  link(rel='stylesheet' href='/css/googleDocs.css')
  div(id='header')
    div(style="display: inline-block; width: 230px;")
      a(href='/') ← homepage
      a(href='/archive' style="float: right;") ← archive
    p(id='headerText') #{title}


  - var index = 0
  for titleList, subHeader in titlesWithHeaders
    h3 #{subHeader}
    ul
      each title in titleList
        li
          -
            var baseComponent = basePaths;
            if (Array.isArray(basePaths)) {
              baseComponent = basePaths[index];
            }
          a(href=`${baseComponent}/${title[0]}`) #{title[1]}
      - index +=1

  p #{footer}
