extends layout

block nav
  include navLinks

block append head
  link(rel='stylesheet' href='css/login.css')

block scripts
  script(src='/js/login.js')

block content
  .login-form-container
    h1= t('auth.login.heading')
    p= t('auth.login.subheading')
    form.login-form(id="loginForm")
      .form-group
        label(for="usernameOrEmail")= t('auth.login.fields.usernameOrEmail.label')
        input#usernameOrEmail(
          type="text"
          name="username"
          required
          placeholder=t('auth.login.fields.usernameOrEmail.placeholder')
        )
      .form-group
        label(for="password")= t('auth.login.fields.password.label')
        input#password(
          type="password"
          name="password"
          required
          placeholder=t('auth.login.fields.password.placeholder')
        )
      button.login-button(type="submit")= t('auth.login.actions.submit')
    .form-feedback(
      style="display:none;"
      data-success=t('auth.login.feedback.success')
      data-failed-generic=t('auth.login.feedback.failedGeneric')
      data-unexpected=t('auth.login.feedback.unexpected')
    )
    p.forgot-link
      a(href=uiPath('/forgot-password'))= t('auth.login.links.forgotPassword')
    p.signup-link
      = t('auth.login.links.noAccount') + ' '
      a(href=uiPath('/signup'))= t('auth.login.links.signupHere')
