a(
  href="#main-menu-toggle"
  id="main-menu-close"
  class="menu-close"
  aria-label=t('layout.closeMenu')
)
  span(class="sr-only")= t('layout.closeMenu')
  span(class="fa fa-close" aria-hidden="true")

ul
  li
    .home
      a.link(href=uiPath('/'))= t('nav.home')
  li
    .app
      a.link(href=uiPath('/rooms'))= t('nav.rooms')
  li
    .tags
      a.link(href=uiPath('/tags'))= t('nav.tags')
  li
    .archive
      a.link(href=uiPath('/archive'))= t('nav.archive')
  li
    .search
      a.link(href=uiPath('/search'))= t('nav.search')
  li
    .best-of
      a.link(href=uiPath('/archive/best-of'))= t('nav.bestOf')
  li
    .about
      a.link(href=uiPath('/about'))= t('nav.about')
  li
    .support
      a.link(href=uiPath('/support'))= t('nav.support')
  li
    .random
      a.link(href=uiPath('/random'))= t('nav.otherProjects')
  
  // Mobile-only auth links
  if !user
    li.nav-mobile-only#login
        a#nav-login-menu.link(href=uiPath('/login'))= t('layout.login')

  if user
    li.nav-mobile-only#dashboard
      a.link(href=uiPath('/dashboard'))= t('nav.dashboard')

  if user
    li.nav-mobile-only#logout
      a#nav-logout-menu.link(href="#")= t('layout.logout')
