extends layout

block nav
  include navLinks

block append head
  link(rel="stylesheet", href="/css/privacy.css")

block content
  .privacy-container
    h1= t('privacy.title')
    p= t('privacy.lastUpdated', { date: lastUpdated })

    h2= t('privacy.intro.h2')
    p= t('privacy.intro.p1')
    p= t('privacy.intro.p2')

    h2= t('privacy.collection.h2')
    p= t('privacy.collection.p')

    h2= t('privacy.usage.h2')
    p= t('privacy.usage.p')

    h2= t('privacy.storage.h2')
    p= t('privacy.storage.p')

    h2= t('privacy.cookies.h2')
    p= t('privacy.cookies.p')

    h2= t('privacy.rights.h2')
    p= t('privacy.rights.p')

    h2= t('privacy.changes.h2')
    p= t('privacy.changes.p')

    h2= t('privacy.contact.h2')
    p
      | #{t('privacy.contact.p')} 
      a(href="mailto:ask@dailypage.org")= t('privacy.contact.emailLabel')
