extends layout

block nav
  include navLinks

block append head
  link(rel="stylesheet", href="/css/about.css")
  link(rel="stylesheet" href="/css/random.css")

block content
  .about-container
    h1.page-title= t('random.title')
    p.tagline= t('random.tagline')

    .about-section
      ul.features
        li
          a.link(href='/baseball')= t('random.links.baseball')
        li
          a.link(href=uiPath('/random-writer'))= t('random.links.randomWriter')

    .cta
      a.btn.primary(href=uiPath("/rooms"))= t('random.cta.backToRooms')
