extends layout

block nav
  include navLinks

block append head
  link(rel='stylesheet' href='/css/signup.css')

block scripts
  script(src='/js/signup.js')

block content
  .signup-form-container(lang=(uiLang || 'en'))
    h1= t('signup.header.title')
    p= t('signup.header.subtitle')

    form.signup-form(id="signupForm")
      .form-group
        label(for="email")= t('signup.form.email.label')
        input#email(
          type="email"
          name="email"
          required
          placeholder=t('signup.form.email.placeholder')
        )

      .form-group
        label(for="username")= t('signup.form.username.label')
        input#username(
          type="text"
          name="username"
          required
          placeholder=t('signup.form.username.placeholder')
        )

      .form-group
        label(for="password")= t('signup.form.password.label')
        input#password(
          type="password"
          name="password"
          required
          placeholder=t('signup.form.password.placeholder')
        )

      button.signup-button(type="submit")= t('signup.form.submit')

    .form-feedback(
      style="display:none;"
      data-success=t('signup.form.feedback.successCreatedVerify')
      data-generic-error=t('signup.form.feedback.genericError')
      data-unexpected-error=t('signup.form.feedback.unexpectedError')
    )= '' 
