extends layout

block nav
  include navLinks

block append head
  link(rel='stylesheet' href='/css/starred-rooms.css')

block content
  .starred-rooms-container(lang=(uiLang || 'en'))
    a.btn(href=uiPath("/dashboard"))= t('starredRooms.nav.backToDashboard')
    h2= t('starredRooms.header.title')

    if starredRooms.length
      ul.starred-rooms-full-list
        each room in starredRooms
          li.starred-room-full-item
            a.card-link(href=`/rooms/${room.id}`)
              span.room-name= room.name
              p.starred-room-description= room.description
    else
      p= t('starredRooms.empty.message')
