extends ../layout

block nav
  include ../navLinks

block append head
  link(rel='stylesheet', href='/css/anonymous.css')

block content
  .anonymous-container(lang=(uiLang || 'en'))
    pre(aria-label=t('anonymousUser.ascii.ariaLabel')).ascii-art.
      .--.      .--.
     : (\\ ". _...._" /
      '.    `      .'
       /'   _     _  \\
      /     0}   {0   \\
      |              |      "I'm nobody…"
      |              |     —Emily Dickinson
      \\  ,-.  .-.  , /
       '._  `'  _.'_'
          /`---'\\
         /       \\
        /         \\

    h1= t('anonymousUser.header.title')
    p
      | #{t('anonymousUser.body.line1')}
      br
      | #{t('anonymousUser.body.line2')}

    .btn-container
      a.btn(href=uiPath('/'))= t('anonymousUser.buttons.home')
      a.btn(href=uiPath('/signup'))= t('anonymousUser.buttons.signup')
